<div class="container-fluid">
    <div class="row">
        <div class="col-lg-11">
            <br>
            <label class="headings">Province Master Details </label>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="row">
            <div class="col-lg-2">
                <h6>Filter By</h6>
            </div>
            <div class="col-lg 2">
                <input type="text" placeholder="search" class="form-control" style="width: 56%;"  [(ngModel)]="search" >

            </div>

            <div class="col-lg 2">
                <select  style="width:90%"  id="countryid" class="form-control" style="width: 56%; "  (change)="getCountyID($event)">
                    <option value="0">Select Country</option>
                    <option  *ngFor="let list of master" value="{{list.id}}">{{list.countryname}}</option>

                </select>
            </div>
        </div>
    </div>

    <br>
    <br>
    
    <div class="row">
        <div class="col-lg-11">
            <label class="headings">SHOWING  1 RESULTS</label>
        </div>
        <div class="col-lg-1">
            <button routerLink="/Provincemasterform" class="addnew">ADD NEW</button>
        </div>
    </div>
    <br>
    <br>

    <div class="row ">
        <div class="col-lg-12" style="overflow: auto">
            <div>
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>Country Name</th>
                        <th>Province Name</th>
                        <th>Action</th>
                    </tr>


                    <tr *ngFor="let list of province |filter:search">
                        <td>{{list.id}}</td>
                        <td>{{list.countryname}}</td>
                        <td>{{list.pname}}</td>
                        <td><button (click)="edit(list.id)" class="addnew1">Edit</button>
                            <br>
                            <br>
                            <button  (click)="delete(list.id)"class="addnew1">Delete</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
