<div class="container-fluid">
    <form #cityForm="ngForm">
    <br>
    <br>
    <label class="headings">City Details</label>
    <br>
    <br>
    <div class="card">
        <div class="row">

            <div class="col-lg-2">
                <label for="Country">Country</label>
                <span class="required">*</span>
                <select name="countryID" id="countryID" class="form-control" [(ngModel)]="countryID" name="countryID" required style="background-color:lightgray;">

                    <option value="">Select Country</option>
                   
                    <option *ngFor="let list of master" value="{{list.id}}">{{list.countryname}}</option>
                </select>

            </div>

            <div class="col-lg-2">
                <label for="Country">Province</label>
                <span class="required">*</span>
                <select name="provinceID" id="provinceID" class="form-control" [(ngModel)]="provinceID" name="provinceID"  required style="background-color:lightgray;">

                    <option value="">Select Province </option>
                    <option *ngFor="let list of province" value="{{list.id}}">{{list.pname}}</option>
                </select>
            </div>



            <div class="col-lg-2">
                <label for="Country">City</label>
                <span class="required">*</span>
                <input type="text" class="form-control" placeholder="City" [(ngModel)]="Cname" name="Cname" required>
            </div>


            <div class="col-lg-4">
                <label for="Description">Description</label>
                <span class="required">*</span>
                <textarea type="text" class="form-control" placeholder="Description" rows="4"
                    [(ngModel)]="description" name="description" required></textarea>
            </div>
        </div>
        <br>
        <br>

        <div class="row">
            <div class="col-lg-8"></div>
            <div class="col-lg-2">
                <button *ngIf="id==undefined || id==null" (click)="Submit()" class="addnew" [disabled]="cityForm.form.invalid">Submit</button>
                <button *ngIf="id!=undefined || id!=null" (click)="edit()" class="addnew" >Update</button>
            </div>
            <div class="col-lg-2">
                <button routerLink="/Citymaster" class="addnew">Cancle</button>
            </div>
        </div>
    </div>
</form>
</div>